# FOXGLOVE_DEVICE_TOKEN authenticates the agent to the API and should be
# obtained from the Foxglove devices UI. A particular Foxglove device should
# have at most a single associated agent.
FOXGLOVE_DEVICE_TOKEN=

# DEVICE_NAME must be specified when using a deviceless token. The agent will
# create a device with this name on first connection. Leave commented out
# when using a device-linked token.
#DEVICE_NAME=

# WATCH_INCLUDE_SUFFIXES is a comma-delimited list of file suffixes that should
# be treated as recordings. More granular filtering can be accomplished using
# regexes and exclusions.
WATCH_INCLUDE_SUFFIXES=.bag,.mcap
#WATCH_INCLUDE_REGEX=
#WATCH_EXCLUDE_SUFFIXES=
#WATCH_EXCLUDE_REGEX=

# WATCH_AUTO_IMPORT_PATTERN is the relative path from STORAGE_ROOT which the
# agent will automatically upload your recordings.
WATCH_AUTO_IMPORT_PATTERN=*

# FOXGLOVE_LOG_OUTPUT controls how logs are routed. Options are "json" for
# JSON-structured output (useful for log aggregators) or "text" for
# human-readable logs to stderr.
FOXGLOVE_LOG_OUTPUT=text

# VARDIR must be a read-writable path where the agent can store internal state.
# The agent docker image uses the /index directory by default. It is not
# typically necessary to override this configuration.
#VARDIR=/index

# PRIMARY_SITE_MODE should be set to self-managed or hosted according to the
# deployment mode of the primary site to which the agent reports.
PRIMARY_SITE_MODE=self-managed

INBOX_STORAGE_PROVIDER=aws
# Must be set to a valid bucket name
INBOX_BUCKET_NAME=fg-demo-inbox-bucket
# Set these according to your AWS deployment
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
# AWS_SESSION_TOKEN=...
AWS_DEFAULT_REGION=us-west-1
# Optional: Enable SHA-256 checksum-on-upload.
#AWS_UPLOAD_CHECKSUM=sha256
# Optional: adjust the size of multipart upload parts (in bytes)
#MULTIPART_PART_SIZE=8388608